body{
	background-color: #FFC8BD;
	margin: 0;
}
header{
	text-align: center;
	font-size: 30px;
	color: #330A00;
}
#laptop{
	background-image:url(images/laptop.jpg);
	height: 302px;
	background-size: cover;
	background-position: center;
	max-width: 100%;
}
/*Navigation */

nav	{
	background-color: #FE7E63;		
}
nav ul	{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0;
	list-style-type: none;
}
nav li	{
	display: inline;
	font-size: 25px;
	font-family: "Arial Black", Gadget, sans-serif;
}
nav img{
	float:right;
}
nav a	{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
	color:purple;
}
nav a:visited{
	color:purple;
}
nav a:hover  {
	color:orange;
}
nav a:active {
	color:blue;
}

footer{
	position:fixed; 
	bottom:0;
	background-color: #EE8829;
	max-width: 100%;
}
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 1.8em
	}
}

@media only screen and (max-width: 768px){
	h1{
		font-size: 1.5em;
	}
}